/* Define modern color scheme */
:root {
    --primary-color: #4A90E2; /* Soft blue */
    --secondary-color: #50E3C2; /* Soft green */
    --background-color: #F5F7FA; /* Light grey */
    --text-color: #333333; /* Dark grey */
    --white-color: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Apply colors and font to the body */
body {
    font-family: 'Roboto', sans-serif; /* Modern, clean font */
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    font-size: 18px; /* Slightly larger font size for readability */
    line-height: 1.8; /* Improved line height for readability */
}

/* Style the top bar */
#top-bar {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px var(--shadow-color);
    border-radius: 8px; /* Rounded corners */
    color: var(--white-color);
}

/* Style the quiz and score containers */
#quiz-container,
#score-container {
    background-color: var(--white-color);
    border-radius: 12px; /* More rounded corners */
    padding: 30px;
    box-shadow: 0 4px 8px var(--shadow-color);
    margin-bottom: 20px;
    color: var(--text-color);
}

#score-container {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

/* Hide elements */
.hidden {
    display: none;
}

/* Style buttons */
button {
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
}

button:active {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px var(--shadow-color);
}

/* Style the footer */
footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px;
    text-align: center;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px var(--shadow-color);
    margin-top: 20px;
}

footer a {
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}